@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

:root {
    font-size: 17px;
    font-family: 'Ubuntu', sans-serif;
    --title-color: #f6c43d;
    --subtitle-color-light: #fff;
    --subtitle-color-dark: #222;
    --text-color-gray: #898989;
    --text-color-dark-white: #ffffffab;
    --font-size-title: 14px;
    --font-size-subtitle: 65px;
    --font-family-borlow-condensed: 'Barlow Condensed', sans-serif;
}